django>=4.2,<5.0
djangorestframework
django-cors-headers
django-filter<25.0
psycopg2-binary
python-dotenv
django-tenants
celery
redis
drf-spectacular
djangorestframework-simplejwt
django-extensions
gunicorn
